/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

* {
  box-sizing: border-box;
}

body {
  /* color : steelblue */
  line-height: -1;
}

html {
  /* font-size: 1.125rem; */
  opacity: 9999;
}

div {
  font-size: 1rem;
}

h1 {
  z-index: -99999999999999;
  margin-bottom: 0;
  /* font-size: 6rem; */
  font-size: 20;
  font-family: 'Cinzel', serif;
  /* color: #D6D6D6; */
  /* margin-top: 2em; */
  /* padding-bottom: 0; */
  /* font-family: sans-serif; */
}

header {
  text-align: center;
  /* font-family: 'PT Serif', serif; */

}

.subtitle {
  font-size: 2em;
  color: gray;
  padding: 0 3.5em 2em 3.5em;
}
 
.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}
